@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --main-blue: #394dd1;
    --main-font: Montserrat;
  }

* {
    font-family: var(--main-font)
}

.flex {
    display: flex;
}


html {
    width: 100%;
}

.navbar {
    background-color:  var(--main-blue);
}

.search-icon, .review-icon, .nav-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.search-btn {
    background-color: white!important;
}

.card {
    margin: 30px;
    box-shadow: 10px 5px 5px rgba(211, 211, 211, 0.664);
}

.card-body {
    text-align: center;
}

.card-img-top {
    width: 300px;
    height: 300px;
}

.menu-gen {
    background-color: rgb(36, 36, 36);
  
}

.content {
    background-color: #FFFFFF;
    margin: 20px;
}

ul {
    color: white!important;
    width: 100%;
    text-align: center;
}

li {
    list-style-type: none;
}

.lista-gen {
    display: flex;
    justify-content: space-evenly;
}

.navbar a, a.btn, .lista-gen a, button {
    text-decoration: none!important;
    color: white!important;
}

.navbar-nav {
    justify-content: space-between;
}
  
.desc-content {
    margin: 0 8em 0 8em;
}

.main-desc {
    justify-content: space-around;
    margin-bottom: 1.5em;
}

.main-img {
    width: 30%;
}

.main-txt {
    width: 70%;
    margin: 0 2rem 0 2rem;
}

.main-txt h1 {
    margin-bottom: 1.5rem;
}

.main-txt-two {
    margin-left: 2rem;
}

.main-img img {
    width: 100%;
}

.main-txt-one .btn {
    font-size: 2em;
    font-weight: 600;
    border-radius: 1.3rem;
    background-color: var(--main-blue)!important;
}

.card-body .btn, .btn-calcular {
    background-color: var(--main-blue)!important;
}

.preco {
    font-size: 2.5rem;
    font-weight: 600;
}

.review-icon {
    margin-right: .5rem;
}

.nav-calcular, .nav-calcular .container-fluid {
    padding: 0!important;
}

.review {
    background-color: #bdcbffa1;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5em;
}

footer {
    text-align: center;
    background-color: #bdcbffa1;
}

@media (max-width: 576px) {
    .lista-gen, .flex {
        display: block
    }

    .desc-content {
        margin: 0 1.5em 0 1.5em;
    }

    .main-img, .main-txt {
        width: 100%;
        margin: 0;
    }

    .main-txt h1 {
        margin: .5em 0 0 0;
    }

    .main-txt-one p, .main-txt-two, .card {
        margin: 0;
    }
}
