html {
    width: 100%;
}

nav {
    background-color:  #0086ff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.185);
    
}

.card {
    margin: 30px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.411);
}

.card-body {
    text-align: center;
}

.card-img-top {
    width: 300px;
    height: 300px;
}

.menu-gen {
    background-color: #0086ff;
  
}
    

.content {
    background-color: #FFFFFF;
    margin: 20px;
}

ul {
    color: white!important;
    width: 100%;
    text-align: center;
}

.lista-gen {
    display: flex;
    justify-content: space-evenly;
}

li {
    margin: 0px 10px 0px 10px;
    }
a {
    text-decoration: none!important;
    color: white!important;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}   

.right {
    display: flex;
}
  



